extends layout

block content
    #mainWrapper.mainWrapper.dark
      #content.content.row
        div
          h4#my_box.head Hey — it’s me, Neil
          p.scramble
            | I’m a self-taught web developer looking to join a great team with whom I can create awesome things.
        div
          h4.subhead.typr About
          div
            p.scramble
              | At present, I teach kids about physics and science. I occasionally empart some wisdom.
            p.scramble
              | I have an honours degree in astrophyiscs.
            p.scramble
              | Born and raised in Scotland, I find myself spending more and more time in Switzerland. Now, I'm searching for a job there.
        div
          h4.subhead.typr.col-orange Projects
          div#projectList.projectList
            div.flex-container
              a(class='link' href='#') News Site
            div.flex-container
              a(class='link' href='/users') Weather Site
            div.flex-container
              a(class='link' href='http://www.meikeramon.com', target='_blank') Website - MeikeRamon
            div.flex-container
              a(class='link' href='http://ubiquitous-quote.herokuapp.com', target='_blank') Quote Generator
            div.flex-container
              a(class='link' href='https://rawgit.com/neildocherty/conwaysGameOfLife/master/index.html', target='_blank') Conway’s Game of life

        div
          h4.subhead.typr Contact
          div
            p.scramble
              | Email me at&nbsp
              a(class='link',href='mailto:neilmdocherty@gmail.com?Subject=Hey, Neil!', target='_top') neilmdocherty@gmail.com
              |  if you want to find out about my international jailbreak.

    #consoleWrapper.consoleWrapper.dark
      #consoleContent.content

    script(src='js/main.js')
    script(src='js/typr.js')
    script(src='js/scramble.js')
    script(src='js/console.js')
