doctype html
doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title neildocherty
    link(rel='stylesheet', href='style/style.css', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,500,700', rel='stylesheet')
  body
    .navWrapper
      .navbar.dark
        .logotype neildocherty
        #terminalButton.terminal >_
    block content
