.consoleWrapper {
    position: fixed;
    top: 100vh;
    width: calc(100vw - 32px);
    height: calc(100vh - 80px);
    overflow-y: scroll;
    margin-bottom: 40px;
    z-index: 30;
    padding: 16px;
    opacity: 0;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    border-top: 8px solid rgba(215,215,215,.1);

    @include transition(opacity 100ms linear);
    @include transition(all 400ms ease);

    @include min-screen(600px) {
        border: 8px solid rgba(215,215,215,.1);
        border-top: 32px solid rgba(215,215,215,.1);
        font-size: 1.2rem;
        width: 80%;
        margin: 0 10%;
    }

    &.visible {
        top: 60px;
        opacity: 1.0;
    }

    &.light {
        background-color: $light;
        color: $dark;

        & cursor {
            display: inline;
            color: $dark;
            &.on {
                background-color: $dark;
                color: $light;
            }
        }
    }

    &.dark {
        background-color: $dark;
        color: $light;

        & cursor {
            display: inline;
            color: $light;
            &.on {
                background-color: $light;
                color: $dark;
            }
        }
    }


 & .content {
     margin-bottom: 40px;
 }


}




prompt {
    margin: 4px 0px;
    display: inline-flex;
}

inputdisplay {
    display: inline-flex;
    cursor: text;
}


pre{
    white-space: pre-wrap;
}


input {
    width: 0px;
    opacity: 0;
    white-space: pre;
}

prestring, cursor, poststring {
    white-space: pre;
}

// prompttext {
//     color: #ffca28;
// }




.console--ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.console--pre {
    margin: 0;
    padding: 0;
}

.col-red{
    color: #CC6666;
}
.col-yellow {
    color: #F0C674;
}
.col-orange {
    color: #DE935F;
}
.col-green {
    color: #81A2BE;
}
.col-blue{
    color: #81A2BE;
}


table {
    text-align: left;

    & .command {
        width: 100px;
    }

    & .instruction {
        color: rgba(255,255,255,.5);
    }
}
