.navWrapper{
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: $dark;
}

.navbar {
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    margin: 0 10%;
    widows: 80%;
    color: $light;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: $h4-fontsize;
    border-bottom: 0px solid #FFF;
    @include transition(all 400ms ease);

    &.border {
        border-bottom: 1px solid #363636;
    }

    .logotype {
        flex-basis: 60%;
    }

    .terminal {
        cursor: pointer;
    }

}
