@import 'normalize';

@import 'mixins';
@import "media-queries";
@import 'variables';
// @import 'color';
@import 'grid';
@import 'typography';
@import 'navbar';
@import 'console';
@import 'typr';


body,html {
   margin: 0 !important;
   background-color: $dark;
}

strong {
    font-weight: bolder;
}
.mainWrapper {
    width: 100vw;
    padding-top: 20px;
    margin-bottom: 20px;
    @include transition(all 200ms ease);


    &.hidden {
        display: none;
        opacity: 0;
        margin-top: 100px;
    }

    &.dark {
        color: $light;
        background-color: $dark;
    }
    &.light {
        color: $dark;
    }
    .content {
        padding: 40px 40px;
        font-size: 1.2rem;
        line-height: 2rem;


        h3 {
            &::before {
                content: ">";
                margin-left: -20px;
                margin-right: 12px;

            }
        }
    }
    @include min-screen(500px) {
        .content {
            padding: 0px 20%;
            width: 60%;
        }
    }
    @include min-screen(600px) {
        width: 100vw;
        // min-height: 100vh;
        margin-top: 60px;

        .content {
            padding: 0px 20%;
            width: 60%;
            font-size: 1.2rem;
            line-height: 2rem;
            p {
                margin: 1rem 0 0 0;
            }
        }
    }
}

.head {
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #F0C674;
}

.subhead {
    font-size: 1.2rem;
    line-height: 110%;
    margin: ($h4-fontsize * 3) 0 ($h4-fontsize) 0;
    font-weight: 300;
    letter-spacing: 2px;
    // color: #414141;
    color: #F0C674;
    text-transform: uppercase;
    // opacity: 0.8;
}
.pre {
    float: left;
    padding-right: 10px;

    &.pre-anim {
        animation: slideyslider 0.8s ease-in-out 1;
    }
}


@keyframes slideyslider {
    0% { margin-left: -10px; margin-right: 10px; opacity: 0; }
    100% { margin-left: 0px; margin-right: 0px; opacity: 1; }
}



.scramble {
    // animation: seewhaaaat 1.2s ease-out 1;
    opacity: 0.5;
}

@keyframes seewhaaaat {
    0% { opacity: 0; }
    100% { opacity: 1.0; }
}

.complete {
    animation: seewhaaaat2 0.8s ease-out 1;
    opacity: 1.0;
}

@keyframes seewhaaaat2 {
    0% { opacity: 0.5; }
    100% { opacity: 1.0; }
}


.projectList {
    @include column-count(1);
    margin-top: 20px;
    padding-left: 0px;

        @include min-screen(600px) {
            @include column-count(2);
        }


        @include min-screen(900px) {
            @include column-count(3);
        }
    .index {
        opacity: 0.4;
        // border-bottom: 1px solid rgba(#FFF,.2);
        margin-right: 10px;
    }

    .text {
    animation: seewhaaaat 1s ease-out 1;
    }
}


.link {
    text-decoration: none;
    color: inherit;
    background-color: transparent;
    border-bottom: 1px solid rgba(215,215,215,.2);

    cursor: pointer;
    @include transition(all 400ms ease);
    &:hover {
        border-bottom: 1px solid #D8D8D8;
    }
}

.flex-container {
    @include min-screen(600px) {
        @include flex();
    }
}
